.container-menuItem {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px;
    margin: 12px;

    .icon {
    }

    .text {
    }
}

.selected-menuItem {
    background-color: white;
    color: #37559a;
}