.container-menuItem {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px;
    margin: 12px;

    .icon {
        color: #ffffff;
        margin-right: 10px;
    }

    .text {
        margin-top: 4px;
        font-size: 14px;
    }
}

.selected-menuItem {
    background-color: white;
    color: #070707;

    .icon{
        color: #020202 !important;
    }
}