.container-menuItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px;
    margin: 12px;
    color: #37559a;

    .icon {

    }

    .text {

    }
}