.container-sidebar {
    display: flex;
    flex: 0.2;
    flex-direction: column;
    height: 100%;
    background-color: #1c1c26;

}

.top-left{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;    
    margin-top: 20px;
    background-color: #1c1c26;
    border: none;
    cursor: pointer;
}

.logo{
    height: 70px;
}

.top-left h2{
    margin-top: 20px;
    color: #FFF;
}
